#create{
       -fx-padding: 20px 40px 20px 52px !important;
       -fx-font-size: 28px !important;
       -fx-border-radius: 10px !important;
       -fx-background-radius: 10px !important;
}
#Logo{
    -fx-padding: 20px 20px 20px 20px;
}
#Recommended{
       -fx-padding: 15px 21px 15px 21px !important;
       -fx-font-size: 16px !important;
       -fx-border-radius: 10px !important;
       -fx-border-width: 7px !important;
       -fx-background-radius: 10px !important;
       -fx-background-color: #ffffff;
       -fx-border-color: #ff152a;
       -fx-text-fill: #ff152a;}
              #Recommended:hover{
              -fx-background-color: #e4e4e4;
              }
              #Recommended:pressed{
              -fx-background-color: #cbc8c8;
               }